.order-placed {
  text-align: center;
  padding-top: 5rem;
}

.order-placed span {
  font-size: 2rem;
  display: block;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: 5rem;
}

.order-placed button {
  font: inherit;
  cursor: pointer;
  color: #fff;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.order-placed button:hover,
.order-placed button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}
